
@font-face {
  font-family: 'CuisineFont';
  src: asset_url('fonts/efcuisines-regular-webfont.eot'); /* IE9 Compat Modes */
  src: asset_url('fonts/efcuisines-regular-webfont.ttf')  format('truetype'); /* Safari, Android, iOS */
}

.cuisine-icon {
  width: 20px;
  height: 20px;
  font-family: 'CuisineFont', Fallback, sans-serif;
  font-size: 3em;
}
