
  .flex-container {

    //position: absolute;
    //top: 80%;
    //left: 25%;
    display: flex;
    //background-color: darkgreen;
    width: 90%;
    justify-content: space-around;
    //text-align: center;
    //transform: translate(-50%,-50%);
    padding: 5px 8px;
    border: 1px solid black;

    .filter-item {
      //background-color: cornflowerblue;
      //padding: 5px 10px;
      font-size: 20px;
      //border: 1px solid black;
      justify-content: space-around;
      flex-direction: column;
      padding: 2px;
      //margin: auto;
    }

    //.flex-container > div > select {
    //  background-color: mediumvioletred;
    //  font-size: 20px;
    //  padding: 10px;
    //}

    .headline{
      //background-color: #e7711b;
    }
  }

