.show_reviews {
  //background-color: #e7711b;
  margin: 2px;
  border: 1px solid black;
  margin: auto;
}

#get-all-reviews {
  position: fixed;
  display: none;
  width: 300px;
  height: 380px;
  top: 200px;
  left: 50px;
  right: 50px;
  bottom: 50px;
  background-color: darkgreen;
  z-index: 2;
  cursor: pointer;
  color: white;
  border: 2px solid black;
  border-radius: 5%;
  padding: 10px;
}

.getreviews-overlay {
  //background-color: #e7711b;
  margin: 5px;
  font-size: 1em;
  z-index: 2;
}
