@font-face {
  font-family: 'HeaderFont';
  src: asset_url('fonts/Noteworthy.ttc') format('truetype'); /* Safari, Android, iOS */
}

.page-header {
  position: relative;
  width: 100%;
  font-family: "HeaderFont", serif;

  .header-img {
    width: 100%;
  }

  .text {
    position: absolute;
    top: 25%;
    left: 25%;
    font-size: 8em;
    transform: translate(-50%, -50%);
  }

  .sub-text {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    font-size: 2em;
  }

  .items-container {
    display: flex;
    position: absolute;
    top: 80%;
    left: 21%;
    width: 40%;
    //justify-content: space-around;
    transform: translate(-50%, -50%);
    //padding: 5px 8px;
  }
}
