
.container {
  display: flex;
  //flex-direction: row;
  justify-content: space-evenly;
  //background-color: #c59b08;
  margin: 0 0 1px 0;
  //padding: 5px;
  align-items: baseline;
  border: 1px solid black;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  //align-items: center;
  margin: auto;
  padding: 5px;
}

.a {
  width: 10%;
  //background-color: #c5c545;
}

.b {
  width: 70%;
  //background-color: blueviolet;
}

.c {
  width: 20%;
}

.name {
  font-family: "Comic Sans MS";
  font-weight: bold;
  text-align: center;
  font-size: 2em;
}
