
.rate-rest {
  content: '★ ';
  height: 34px;
}

.star-ratings-css {
  color: #c5c5c5;
  font-size: 25px;
  height: 25px;
  width: 125px;
  margin: 0 auto;
  position: relative;
  padding: 0;
  text-shadow: 0px 1px 0 #a2a2a2;

  &-top {
    color: #e7711b;
    padding: 0;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    overflow: hidden;
  }
  &-bottom {
    padding: 0;
    display: block;
    z-index: 0;
  }
}