
.container {
  display: flex;
  justify-content: space-evenly;
  margin: 0 0 1px 0;
  border: 1px solid black;
}

.item {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 5px;
}

.cuisine {
  width: 10%;
}

.name-rating {
  width: 70%;
}

.tenbis {
  width: 20%;
}

.name {
  font-family: "HeaderFont", serif;
  font-weight: bold;
  text-align: center;
  font-size: 2em;
}

.tenbis-img {
  width: 40px;
  height: 40px;
  margin: auto;
}
